* {
	margin: 0;
	padding: 0;

}
body {
	width: 100%;
	height: 100%;
	background: #eeeeee;
}
header {
	width: 100%;
	height: 210px;
	background: #fff;
}

.block_header {
	margin: 0 auto;
	padding:20px 6% 30px 9%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.img_logo {
	margin-left: auto;
}
.img_logo img {
	width: 170px;
	height: 170px;
}

.header_info p {
	line-height: 20px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 12px;
}
.header_info h3 {
	padding-top: 70px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 40px;
}



.comment_group {
	margin: 41px 10% 0 9%;

}

.comment_box {
	width: 462px;
	margin: 38px 0 0 0;	
}

.group_name_data {
	display: flex;
}

.name {
	margin:0 40px 15px 0;
	font-size: 20px;
	font-weight: bold;
	font-family: Roboto;
}

.data {
	margin-top: 5px;
	font-size: 14px;
	font-weight: lighter;
	font-family: Roboto;
	color: #636363;
} 

.comment_text {
	font-size: 18px;
	font-weight: lighter;
	font-family: Roboto;
	color: #636363;
}
#myform {
	margin: 0 9%;
}

.form_title {
	margin: 30px 0;
	font-size: 24px;
	font-family: Roboto;
	font-weight: normal;
}

.form_area {
	max-width: 462px;
}
label {
	font-size: 15px;
	font-weight: normal;
	font-family: Roboto;
	color: #636363;
}

input,
textarea {
	box-sizing: border-box;
	width: 462px;
	margin: 15px 0;
	background: #eeeeee;
	border: 2px solid #000;
	border-radius: 3px;

}

.form_name{
	height: 45px;

}

.form_comment {
	height: 135px;
	resize: none;

}
.btn {
	width: 130px;
	height: 40px;
	margin: 0 0 40px 0;
	float: right;
}


input:focus,
textarea:focus {
	border: none;
	background: #fff;
}


footer {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	background: #fff;
}

.footer_block {
	margin: 18px 0 14px 9%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer_block img {
	width: 106px;	
	height: 109px;
}

.footer_info {
	margin:20px 0 14px 40px; 
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	font-family: Roboto;
} 
.copyright {
	font-size: 15px;
	font-weight: lighter;
	font-family: Roboto;
	padding-top: 12px;

}